body {
    background-color:#FFEFDB;
}

article {
    background-color: #BA3B44;
    border: 1px solid #666;
    color:white;
    display: flex;
    justify-content: center;
    padding:10px;
}

@media only screen and (min-width: 320px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-rows: 50px minmax(20px, 1fr) 50px 50px 50px 50px 50px;
        grid-template-areas:
        "block-a"
        "block-b"
        "block-c"
        "block-d"
        "block-e"
        "."
        "block-f";
    }

    .block-a {
        grid-area: block-a;
    }

    .block-b {
        grid-area: block-b;
    }

    .block-c {
        grid-area: block-c;
    }

    .block-d {
        grid-area: block-d;
    }

    .block-e {
        grid-area: block-e;
    }

    .block-f {
        grid-area: block-f;
    }
}

@media only screen and (min-width: 720px) {
    main {
        display: grid;
        grid-template-columns: 288px 0.9fr 1.2fr;
        grid-template-rows: 50px 240px 100px minmax(20px, 60px) 50px;
        gap: 20px 20px;
        grid-template-areas:
    "block-a block-c block-c"
    "block-b block-c block-c"
    "block-b block-e block-d"
    "block-b block-e block-flex-height"
    "block-f block-f block-f";
        margin: 20px;
        width: 1000px;
    }

    article span {
        align-self: center;
        display: flex;
    }

    .block-a {
        grid-area: block-a;
    }

    .block-c {
        grid-area: block-c;
    }

    .block-b {
        grid-area: block-b;
    }

    .block-e {
        grid-area: block-e;
    }

    .block-d {
        grid-area: block-d;
    }

    .block-f {
        grid-area: block-f;
    }

    .block-flex-height {
        grid-area: block-flex-height;
    }
}